[submodule "RuneFramework/vendor/glfw"]
	path = RuneFramework/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "RuneFramework/vendor/glm"]
	path = RuneFramework/vendor/glm
	url = https://github.com/g-truc/glm.git
